
<div class="home-slider position-relative overflow-hidden">
                <div id="sliderSyncingNav" class="js-slick-carousel slick" data-hs-slick-carousel-options="{
                    &quot;dots&quot;: true,
                    &quot;dotsClass&quot;: &quot;d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0&quot;,
                    &quot;infinite&quot;: true,
                    &quot;asNavFor&quot;: &quot;#sliderSyncingThumb&quot;
                }">
{{#each homeslider_videos}}
<div class="bg-img-hero d-flex align-items-center min-h-676rem slider-gradient" style="background-image: url({{videos_thumbnail}})">
    <div class="container">
        <div class="mx-3 mx-md-5 col-xl-5 px-0">
            <h1 class="display-3 mb-3">
                <a href="vdetails/{{videos_url}}" class="h-w-primary">{{videos_title}}</a>
            </h1>
            <div class="mb-4d">
                <ul class="list-unstyled nav nav-meta nav-meta__white">
                    <li class><a href="vdetails/{{videos_url}}">{{videos_category}}</a></li>
                </ul>
            </div>
            <div class="d-md-flex">
                <a href="vdetails/{{videos_url}}" class="btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0">
                    WATCH NOW
                </a>
            </div>
        </div>
        {{/each}}

    </div>
</div>










</div>