



<section class="space-bottom-5 space-bottom-lg-0">
<div class="bg-img-hero" style="background-image: url(/images/shiv.jpg);">
<div class="container px-md-6">
<div class="space-2">
<div class="pt-5 mt-1 mb-8">
<h6 class="font-size-16 font-weight-normal opacity-6 text-lh-md pl-1 mb-3">Featured</h6>
<h5 class="display-10">Mahatma</h5>
<h4 class="font-size-22 font-weight-light pl-1 max-w-330">Some Description About.</h4>
</div>

<div class="tab-nav__v3 mb-3">
</div>


<div class="tab-content u-slick__tab">
<div class="tab-pane fade show active" id="pills-one-code-features-example6" role="tabpanel" aria-labelledby="pills-one-code-features-example6-tab">
<div class="js-slick-carousel u-slick" data-hs-slick-carousel-options="{
                                        &quot;prevArrow&quot;: &quot;<span class=\&quot;fas fa-chevron-left slick-arrow slick-arrow-svg-left slick-arrow-centered-y left slick-arrow-right rounded-circle position-absolute left-0 ml-n5 ml-wd-n5\&quot;></span>&quot;,
                                        &quot;nextArrow&quot;: &quot;<span class=\&quot;fas fa-chevron-right slick-arrow slick-arrow-svg-right slick-arrow-centered-y right slick-arrow-right rounded-circle position-absolute mr-n5 mr-wd-n5\&quot;></span>&quot;
                                        }">
<div class="js-slide">
<div class="row mx-n2">

        {{#each MahatmaVideos}}
        <div class="col-6 col-md-4 col-lg px-2">
        <div class="product mt-2">
        <div class="product-image mb-1">
        <a href="/vdetails/{{videos_url}}" class="d-inline-block position-relative stretched-link">
        <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
        <img class="img-fluid w-100" src="{{videos_thumbnail}}" alt="Image Description">
        </a>
        </div>
        <div class="product-meta font-size-12">
        <span><a href="/vdetails/{{videos_url}}" class="h-g-primary">{{update_date}}</a></span>
        <span><a href="/vdetails/{{videos_url}}" class="h-g-primary">{{vidoes_category}}</a></span>
        <span><a href="/vdetails/{{videos_url}}" class="h-g-primary">History</a></span>
        </div>
        <div class="font-weight-bold font-size-1"><a class="text-dark" href="/vdetails/{{videos_url}}">{{videos_title}}</a></div>
        </div>
        </div>
        {{/each}}



</div>
</div>
</div>
</div>




</div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>