<section class="bg-gray-1100 dark">
    <div class="container px-md-4">
        <div class="row mb-xl-5">
            <div class="col-xl-auto d-flex">
                <header class="max-w-370 mt-auto mb-8 title-dash">
                    <h3 class="display-7 text-white mb-3 pr-xl-12 font-weight-semi-bold">Popular Videos to Watch Now</h3>
                    <p class="text-gray-1300 font-secondary font-weight-medium">Most watched Vidoes by days</p>
                    <div class="border-top border-g-1200-op mr-xl-7">
                        
                    </div>
                </header>
            </div>

            <div class="col">
                <div class="row row-cols-2 row-cols-md-5">
                    


                    {{#each top_four}}
                    <div class="col mb-5 mb-xl-0">
                        <div class="product">
                            <div class="product-image mb-2">
                                <a href="vdetails/{{videos_url}}" class="d-inline-block position-relative stretched-link">
                                    <img class="img-fluid" src="{{videos_thumbnail}}" alt="Image Description" style="height: 250px;">
                                </a>
                            </div>
                            <div class="product-meta font-size-12 mb-1">
                                {{!-- <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">2020</a></span>
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">Action</a></span> --}}
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">{{videos_category}}</a></span>
                                <span><a href="https://demo2.madrasthemes.com/vodi-html/html-demo/single-movies/single-movies-v2.html" class="h-g-primary">{{videos_subcategory}}</a></span>
                            </div>
                            <div class="product-title font-weight-bold font-size-1">
                                <a href="vdetails/{{videos_url}}">{{videos_title}}</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    


</div>
</div>
</div>






</div>
</div>

</section>