<main id="content">
    <div class="container px-md-5">
        <div class="row mb-5 mb-lg-6">
            <div class="col-lg-12">
                {{!-- Date Scrool --}}
                <div class="scrollmenu">
                    <a href="#home" class="box">Today</a>
                    <a href="#news">Tomorrow</a>
                    <a href="#27">27.06.2023</a>
                    <a href="#about">28.06.2023</a>
                    <a href="#about">29.06.2023</a>
                    <a href="#about">30.06.2023</a>
                </div>
                {{!-- End of Date Header --}}
            </div>
            <div class="col-lg-12">
                <div class="col-sm-12 panchang-box">
                <div class="" style="padding-top: 20px;">
                    <h2 style="font-family: Droid;">{{panchang.panchang_title}}</h2>
                    <h3>[{{panchang.panchang_time}}]</h3>
                    <h4>Festival: <span style="font-size: 14px;;">{{panchang.festival_description}}</span></h4>
                    
                </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="icon-card-for-mobile-laptop">
                <div class="col-lg-3 col-sm-3">
                    <div class="ico-card">
                        <div class="ico-card-inner">
                            <img class="ico-card-logo" src="/images/SUNRISE.png" alt="">
                            <div class="ico-card-primary">
                                <h4 class="ico-card-title" style="font-weight: 800 !important;">Sunsrise
                                    <span class="ico-card-category" style="color:white;">(Platform)</span> 
                                </h4>
                                <h5 class="ico-card-eta">{{panchang.sunrise}}</h5>
                            </div>
                            <h2 class="ico-card-rating" style="color: white;">5.1</h2>
                        </div>
                        <progress max="100" value="100"></progress>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="ico-card">
                        <div class="ico-card-inner">
                            <img class="ico-card-logo" src="/images/SUNSET.png" alt="">
                            <div class="ico-card-primary">
                                <h4 class="ico-card-title" style="font-weight: 800 !important;">Sunset
                                    <span class="ico-card-category" style="color:white;">(Platform)</span> 
                                </h4>
                                <h5 class="ico-card-eta">{{panchang.sunset}}</h5>
                            </div>
                            <h2 class="ico-card-rating" style="color: white;">5.1</h2>
                        </div>
                        <progress max="100" value="100"></progress>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="ico-card">
                        <div class="ico-card-inner">
                            <img class="ico-card-logo" src="/images/MOONRISE.png" alt="">
                            <div class="ico-card-primary">
                                <h4 class="ico-card-title" style="font-weight: 800 !important;">Moonrise
                                    <span class="ico-card-category" style="color:white;">(Platform)</span> 
                                </h4>
                                <h5 class="ico-card-eta">{{panchang.moonrise}}</h5>
                            </div>
                            <h2 class="ico-card-rating" style="color: white;">5.1</h2>
                        </div>
                        <progress max="100" value="100"></progress>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="ico-card">
                        <div class="ico-card-inner">
                            <img class="ico-card-logo" src="/images/MOONSET.png" alt="">
                            <div class="ico-card-primary">
                                <h4 class="ico-card-title" style="font-weight: 800 !important;">Moonset
                                    <span class="ico-card-category" style="color:white;">(Platform)</span> 
                                </h4>
                                <h5 class="ico-card-eta">{{panchang.moonset}}</h5>
                            </div>
                            <h2 class="ico-card-rating" style="color: white;">5.1</h2>
                        </div>
                        <progress max="100" value="100"></progress>
                    </div>
                </div>
            </div>


            <div class="col-lg-12 panchang-box">
                    <h3>Complete Panchang</h3>
                    <h4>Shukla - Paksha Tritiyaa (Jaya Tithi) 11:20 PM Till</h4>
                <div class="panchang-more">
                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">{{{panchang.nakshatra}}}</h4>
                    </div>
                    <div class="col-lg-2 col-sm-2 border-panchang" >
                        <h4 style="text-align: center;">{{{panchang.yoga}}}</h4>
                    </div>
                    <div class="col-lg-2 col-sm-2 border-panchang" >
                        <h4 style="text-align: center;">{{{panchang.karana}}}</h4>
                    </div>
                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Month Amantra</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.month_amanta}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Month Purnimantra</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.month_purnimanta}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Vikram Samvat</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.vikram_samvat}}</p>
                    </div>
                </div>

                
            </div>

            <div class="col-lg-12 panchang-box" style="margin-top: 10px;">
                   
                <div class="panchang-more">
                    
                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Shaka Samvat</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.shaka_samvat}}</p>
                    </div>
                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Sun Sign</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.sun_sign}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Moon Sign</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.moon_sign}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Disha Shool</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.sishashool}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Moon Placement</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.moon_placement}}</p>
                    </div>

                    <div class="col-lg-2 col-sm-2 border-panchang">
                        <h4 style="text-align: center;">Season</h4>
                        <p style="text-align: center;font-weight:700">{{panchang.season}}</p>
                    </div>

                </div>

                
            </div>






        </div>


 






    




</div>
<div>




</div>
</div>
</div>
</div>
</div>




</div>
</main>