

<main id="content">

<div class="bg-gray-1100 pb-5 space-bottom-lg-2">
<div class="container px-md-6">

</div>
<section class="pb-xl-3 mb-xl-1">
<div class="mb-3 pb-1">
<div class="position-relative">
<div class="bg-img-hero h-464rem mobile-player-custom" style="background-image: url();">
  <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      poster="{{vDetails.videos_thumbnail}}"
      data-setup="{}"
     style="width: 100%;height:100%">
      <source src="{{vDetails.videos_path}}" type="video/mp4" />
      {{!-- <source src="{{{{vDetails.videos_path}}}}" type="video/webm" /> --}}
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video>



    


</div>
</div>
</div>
<div class="container px-md-6">
<div class="d-md-flex align-items-center justify-content-between mb-4 pb-1">
<div>
<h6 class="font-size-24 text-white font-weight-semi-bold font-secondary mb-3 mb-md-1">{{vDetails.videos_title}}</h6>
<ul class="list-unstyled nav nav-meta font-secondary mb-6 pb-1 overflow-auto overflow-md-hidden flex-nowrap flex-md-wrap">
<li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1">{{vDetails.update_date}}</li>
<li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1"></li>
<li class="text-gray-1300 flex-shrink-0 flex-shrink-md-1">
<a href="#" class="text-gray-1300">{{vDetails.videos_category}}</a>
<span>,</span>
<a href="#" class="text-gray-1300">{{vDetails.videos_sub_category}}</a>
</li>
</ul>
<p class="mb-md-0 text-white">{{vDetails.videos_description}}</p>
</div>
    <div>
</div>
<div class="text-white">Tags:
<a href="#"></a>
<span>,</span>
<a href="#"></a>
<span>,</span>
<a href="#"></a>
<span>,</span>
<a href="#"></a>
</div>
</div>
</div>
</div>
</section>
</div>






<div class="bg-gray-1100 space-1">
<div class="container px-md-6 space-bottom-1 space-bottom-lg-2">
<div class="pb-lg-6 mb-lg-1">
<h6 class="font-size-22 font-weight-medium text-white mb-4">Recent Videos</h6>
<div class="row dark">

      {{#each recentVideos}}
      <div class="col-md-6 col-lg-3">
      <div class="product mb-5 mb-md-0">
      <a class="product-image mb-3 d-block" href="/vdetails/{{videos_url}}">
      <img class="img-fluid h-185rem" src="{{videos_thumbnail}}" alt="Image-Description">
      </a>
      <div class="mb-2">
      <a class="font-size-13 font-weight-bold" href="/vdetails/{{videos_url}}">{{videos_category}}</a>
      </div>
      <div class="product-title font-size-1 mb-1 font-weight-bold">
      <a href="/vdetails/{{videos_url}}">{{videos_title}}</a>
      </div>
      <div>
      <a href="/vdetails/{{videos_url}}" class="font-weight-normal font-size-13 h-g-primary">
      <span>{{update_date}}</span>
      </a>
      </div>
      </div>
      </div>
      {{/each}}



   




</div>
</div>



</main>